body{
    font-family: 'Poppins', sans-serif;
}
.first-section{
    margin: 0;
}
.flex{
    display: flex;
}
.anchor{
    background-color: rgb(255, 72, 0);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-div1{
    width: 50%;
    padding-left: 150px;
    padding-top: 90px;
    padding-right: 90px;

}
.top-p1{
    margin-bottom: 30px;
}
.top-p2{
    margin-top: 50px;
}
.top-div1 h1{
    font-family: 'Unna', serif;
    font-size: 70px;
    margin-bottom: 0;
}
.top-div2{
    width: 50%;

}
.top-div2 img{
    width: 65%;
}
.orange-text{
    color: orange;
}
.mid-div-main{
    margin-left: 125px;
    margin-right: 125px;
}
.mid-div{
    margin: 15px;
    padding: 25PX;
    border-radius: 25px;
}
.mid-div img{
    width: 45%;
}
.mid-div-title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
}
#mission{
    background-color: rgba(17, 253, 241, 0.151);
}
#vission{
    background-color: #f578423f;
}
#goals{
    background-color: rgba(255, 255, 0, 0.178);
}
.mid-div-1{
    width: 40%;
    padding-left: 130px;
    padding-right: 0;
    margin-right: 0;

}
.mid-div-1 img{
    width: 85%;
}
.mid-div-2{
    width: 60%;
    padding-left: 0;
    margin-left: 0;
}
.third-section{
    margin-top: 90px;
}
.mid-div-title-1{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;