body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.first-section{
    margin: 0;
}
.flex{
    display: flex;
}
.anchor{
    background-color: rgb(255, 72, 0);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-div1{
    width: 50%;
    padding-left: 150px;
    padding-top: 90px;
    padding-right: 90px;

}
.top-p1{
    margin-bottom: 30px;
}
.top-p2{
    margin-top: 50px;
}
.top-div1 h1{
    font-family: 'Unna', serif;
    font-size: 70px;
    margin-bottom: 0;
    padding-left: 8px;
    border-left: 5px solid;
    border-image: linear-gradient(rgb(243, 139, 4), rgb(231, 128, 10));
    border-image-slice: 1;
}
.top-div2{
    width: 50%;

}
.top-div2 img{
    width: 65%;
}
.orange-text{
    color: orange;
}
.mid-div-main{
    margin-left: 125px;
    margin-right: 125px;
}
.mid-div{
    margin: 15px;
    padding: 25PX;
    border-radius: 25px;
}
.mid-div img{
    width: 45%;
}
.mid-div-title{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
}
#mission{
    background-color: rgba(17, 253, 241, 0.151);
}
#vission{
    background-color: #f578423f;
}
#goals{
    background-color: rgba(255, 255, 0, 0.178);
}
.mid-div-1{
    width: 40%;
    padding-left: 130px;
    padding-right: 0;
    margin-right: 0;

}
.mid-div-1 img{
    width: 85%;
}
.mid-div-2{
    width: 60%;
    padding-left: 0;
    margin-left: 0;
}
.third-section-2{
    margin-top: 90px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 100%;
    background-position-x: 100%;

}
.third-section{
    margin-top: 90px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 15%;
    background-position-x: 20px;
}
.mid-div-title-1{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
}
.mid-div-3{
    width: 50%;
    padding-left: 150px;
    margin-left: 20px;
}
.mid-div-4{
    width: 50%;
    padding-left: 130px;
    padding-right: 0;
    margin-right: 0;

}
.mid-div-4 img{
    width: 75%;
}
.mid-div-5{
    width: 40%;
    padding-left: 160px;
    padding-right: 0;
    margin-right: 0;
}
.mid-div-5 img{
    width: 60%;
}
.mid-div-6{
    width: 60%;
    padding-left: 0;
    padding-top: 70px;
    margin-left: 0;
}
.last-section{
    background-color: black;
    padding: 0px;
    
}
.last-header{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;

}
.last-p{
    color: white;
    text-align: center;
    padding-bottom: 40px;
}
.orange{
    color: rgb(223, 102, 4);
}
.third-section-3{
    margin-top: 90px;
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: 75%;
    background-position-x: 20px;
}

